{% extends 'base.html.twig' %}

{% block title %}Hello CritiqueController!{% endblock %}

{% block body %}
    <div class='main-center'>
        <div class='container'>
            <div class='row'>
                {% for critique in critiques %}
                    <div class='critique'>
                        <div class='contenu'>
                            <div class='identifieur'>
                                <strong>Auteur:</strong>
                                <p>{{critique.auteur}}</p>
                                <strong>Date de publication:</strong>
                                <p>{{critique.dateDePublication|date('d/m/Y')}}</p>
                            </div>
                            <strong>Texte:</strong>
                            <p>{{critique.texte}}</p>
                            <div>
                                <a href='{{ path('critique_edit', {'id':critique.id})}}' class='button-modif-voir'>Modifier</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <a href='{{ path('critique', {'id':id} )}}' class='button-add'>Ajouter</a>
        </div>
    </div>
{% endblock %}