{% extends 'base.html.twig' %}

{% block title %}HelloCiné{% endblock %}

{% block body %}
    <div class='main-center'>
        {# décomposition par ligne #}
        {{ form_start(filmForm) }}

        {{ form_errors(filmForm) }}

        {{ form_label(filmForm.titre) }}
        {{ form_widget(filmForm.titre) }}
        {{ form_errors(filmForm.titre) }}

        {{ form_label(filmForm.dateDeSortie) }}
        {{ form_widget(filmForm.dateDeSortie) }}
        {{ form_errors(filmForm.dateDeSortie) }}

        {{ form_label(filmForm.duree) }}
        {{ form_widget(filmForm.duree) }}
        {{ form_errors(filmForm.duree) }}

        {{ form_label(filmForm.genre) }}
        {{ form_widget(filmForm.genre) }}
        {{ form_errors(filmForm.genre) }}

        <button type="submit" class='button-submit'>Envoyer</button>
        {{ form_end(filmForm) }}
    </div>
{% endblock %}
